<footer>
  <img src="/assets/img/logo.png" height="150px" alt="logo"></img>

  <a href="https://github.com/{{site.github_username}}">Foxelyss</a>
  <a href="mailto:{{site.email}}">e-mail</a>
<span>2023-2025</span>


  {% for info in site.data.footer %}

  <div>
    {% if info.url %}
    <a href="{{info.url}}"> {{ info.info }} </a>
    {% else %} {{ info.info }} {% endif %}
  </div>

  {% endfor %}
</footer>
