<nav>
  <ul>
    {% for topic in site.data.header %}
    <li>
      <a {% if topic.url == page.url %}style="font-weight: bold; pointer-events: none; cursor: default;"{% endif %} href="{{ topic.url }}"> {{ topic.name }} </a>
    </li>
    {% endfor %}
    <li>  
      <!-- jekyll-polyglot will process ferh= into href= through the static_href liquid block tag without relativizing the url; useful for making language navigation switchers  -->
      {% for tongue in site.languages %}
    <a {% if tongue == site.active_lang or page.lang_exclusive == null %}style="font-weight: bold; pointer-events: none; cursor: default;"{% endif %} {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} >{{ tongue }}</a>{%- if forloop.last == false -%}{{" "}}{{ site.langsep }}{%- endif -%}
      {% endfor %}
    </li>
  </ul>
</nav>
